<%= javascript 'home' %>
<%= javascript 'close_icon' %>
<style type="text/css">
  html {
    height: 100%;
  }
  div.main-container, div.form-grid {
    height: 100%;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  body {
    background: #EFEFBB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body > .segment.form {
    height: 75%;
  }
  .image {
    margin-top: -100px;
  }
  .masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
</style>

<div class="ui container main-container">
  <div class="ui center aligned equal width stackable grid form-grid">
    <div class="row">
      <div class="column">
        <div class="ui vertical segment masthead">
          <h1 class="ui blue header">EZ Queue</h1>
          <h2 class="">คิวลูกค้าเพื่อธุรกิจคุณ</h2>
          <a class="ui huge secondary button"  href="#user-manual">วิธีใช้... <i class="down arrow icon"></i></a>
        </div>
      </div>
      <div class="column">
        <div class="ui secondary pointing menu">
          <a class="item active" id="login-link">เข้าสู่ระบบ</a>
          <a class="item" id="signup-link">สมัครใช้งาน</a>
        </div>

        <div class="ui raised segment" id="login-segment">
          <h1 class="ui header">เข้าสู่ระบบ</h1>
          <% if !params.valid? && params.errors[:session] %>
            <div class="ui negative message">
              <i class="close icon"></i>
              <ul class="list">
                <% params.error_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% if params.env['warden'].message %>
            <div class="ui negative message">
              <i class="close icon"></i>
              <div class="header"><%=params.env['warden'].message %></div>
            </div>
          <% end %>                    
          <%=
            form_for :session, routes.sessions_path, class: 'ui form' do
              div class: 'ui error message'
              div class: 'ui segment' do
                div class: field_class(:session, :email) do
                  div class: 'ui left icon input' do
                    i class: 'user icon'
                    text_field :email, placeholder: 'Email'
                  end
                end

                div class: field_class(:session, :password) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password, placeholder: 'Password'
                  end
                end
                div class: 'control' do
                  submit 'Log in', class: 'ui fluid large teal submit button', id: 'login-button'
                end
              end
            end
          %>
        </div>

        <div class="ui raised segment" id="signup-segment" style="display: none;">
          <h1 class="ui header">สมัครใช้งาน</h1>
          <% if params[:user] && params[:user][:error] %>
            <div class="ui negative message">
              <div class="header"><%=params[:user][:error] %></div>
            </div>
          <% end %>        
          <% if !params.valid? && params.errors[:user] %>
            <div class="ui negative message">
              <ul class="list">
                <% params.error_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="ui negative message" id="duplicated-email-error" style="display: none;"></div>
          <%=
            form_for :user, routes.users_path, class: 'ui large form' do
              div class: 'ui error message'
              div class: 'ui segment' do
                div class: field_class(:user, :email) do
                  div class: 'ui left icon input' do
                    i class: 'user icon'
                    text_field :email, placeholder: 'Email'
                  end
                end

                div class: field_class(:user, :password) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password, placeholder: 'Password'
                  end
                end

                div class: field_class(:user, :password_confirmation) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password_confirmation, placeholder: 'Password Confirmation'
                  end
                end

                div class: 'controls' do
                  submit 'Sign up', class: 'ui fluid large orange submit button', id: 'signup-button'
                end
              end
            end
          %>  
        </div>

      </div>
    </div>
  </div>

  <h2 class="ui dividing header"><a name="user-manual"></a>วิธีใช้</h2>
  <p>เตรียมอุปกรณ์ดังนี้</p>
  <ol>
    <li>การเชื่อมต่ออินเตอร์เน็ต</li>
    <li>computer หรือ smart tv สำหรับแสดงคิวลูกค้า</li>
    <li>computer หรือ tablet/mobile สำหรับพนักงานควบคุมคิว</li>
    <li>บัตรคิวกระดาษ</li>
  </ol>
  
  <h3 class="ui dividing header">เริ่มใช้งาน</h3>
  <h4>ที่เครื่องแสดงคิวลูกค้า</h4>
  <ol>
    <li>สมัครใช้งาน หรือเลือก<strong>เข้าสู่ระบบ</strong>ถ้าสมัครใช้งานแล้ว</li>
    <li>ที่หน้าเมนูหลัก</li>
  </ol>
  <h4>ที่เครื่องของพนักงานควบคุมคิว</h4>
  <ol>
    <li>สมัครใช้งาน หรือเลือก<strong>เข้าสู่ระบบ</strong>ถ้าสมัครใช้งานแล้ว</li>
    <li>ที่หน้าเมนูหลัก</li>
  </ol>
</div>