<style type="text/css">
  body {
    background: linear-gradient(to bottom, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
  }
  .image {
    margin-top: -100px;
  }
  .masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
</style>

<div class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui header">EZ Queue</h1>
    <h2 class="">คิวลูกค้าเพื่อธุรกิจคุณ</h2>
    <div class="ui huge primary button">วิธีใช้... <i class="down arrow icon"></i></div>
  </div>
</div>
<div class="ui teal vertical segment">
  <div class="ui equal width stackable internally celled grid container">
    <div class="center aligned row">
      <div class="column">
        <h1 class="header">เข้าสู่ระบบ</h1>
        <% if !params.valid? && params.errors[:session] %>
          <div class="ui error message">
            <div class="header">There was a problem with your submission</div>
            <ul class="list">
              <% params.error_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if params.env['warden'].message %>
          <div class="ui error message">
            <div class="header"><%=params.env['warden'].message %></div>
          </div>
        <% end %>
        <%=
            form_for :session, routes.sessions_path, class: 'ui large form' do
              div class: 'ui segment' do
                div class: field_class(:session, :email) do
                  div class: 'ui left icon input' do
                    i class: 'user icon'
                    text_field :email, placeholder: 'Email'
                  end
                end

                div class: field_class(:session, :password) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password, placeholder: 'Password'
                  end
                end
                div class: 'control' do
                  submit 'Log in', class: 'ui fluid large teal submit button'
                end
              end
            end
          %>              
      </div>
      <div class="column">
        <h1 class="header">สมัครใช้งาน</h1>
          <% if !params.valid? && params.errors[:user] %>
            <div class="ui error message">
              <div class="header">There was a problem with your submission</div>
              <ul class="list">
                <% params.error_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%=
            form_for :user, routes.users_path, class: 'ui large form' do
              div class: 'ui segment' do
                div class: field_class(:user, :email) do
                  div class: 'ui left icon input' do
                    i class: 'user icon'
                    text_field :email, placeholder: 'Email'
                  end
                end

                div class: field_class(:user, :password) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password, placeholder: 'Password'
                  end
                end

                div class: field_class(:user, :password_confirmation) do
                  div class: 'ui left icon input' do
                    i class: 'lock icon'
                    password_field :password_confirmation, placeholder: 'Password Confirmation'
                  end
                end

                div class: 'controls' do
                  submit 'Sign up', class: 'ui fluid large orange submit button'
                end
              end
            end
          %>          
      </div>
    </div>
  </div>
</div>
<div class="ui orange vertical segment">

</div>