<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<%= javascript 'audio' %>
<%= javascript 'configuration' %>

<h1>Configuration</h1>
Queue Number<h1 class="current_queue"><%=user.queue_number%></h1>
Ticket Number<h1 class="ticket_queue"><%=user.ticket_number%></h1>

<%=
  form_for :user, routes.reset_queue_path, method: :patch do
    div class: 'controls' do
      submit 'Reset Queue Number', class: 'reset_queue_number'
    end
  end
%>

<button class="reset_ticket_number">Reset Ticket Number</button>

<input type="checkbox" class="audio-toggle" /> Sound