<h2>Authorized area</h2>

<h3><%= user.email %></h3>
<span>created at: <%=user.created_at %></span>
<%=
  form_for :session, '/sessions/99', method: :delete do
    submit 'Log out'
  end
%>

<nav>
  <ul>
    <li><%= link_to 'Configuration', routes.configuration_path %></li>
    <li><%= link_to 'Queue Info', routes.queue_info_path %></li>
    <li><%= link_to 'Operator', routes.queue_operator_path %></li>
    <li><%= link_to 'Queue Ticket', routes.queue_ticket_path %></li>
  </ul>
</nav>
