<style type="text/css">
  body {
    margin-top: 5em;    
  }
</style>

<div class="ui top fixed menu">
  <div class="header item"><%= user.email %></div>
  <div class="item">created at: <%=user.created_at %></div>
  <div class="item">
    <%=
      form_for :session, '/sessions/99', method: :delete do
        submit 'Log out', class: "ui secondary button"
      end
    %>
  </div>
</div>

<div class="ui vertical center aligned segment">
  <h1>Authorized area</h1>
  <h2>Main menu</h2>

  <div class="ui equal width stackable internally celled grid container">
    <div class="center aligned row">
      <div class="column">
        <a href="<%=routes.configuration_path%>" class="massive ui primary button"><i class="big setting icon"></i> Configuration</a>
      </div>
      <div class="column">
        <a href="<%=routes.queue_info_path%>" class="massive ui primary button"><i class="big tv icon"></i> Queue Info</a>
      </div>
    </div>
    <div class="center aligned row">
      <div class="column">
        <a href="<%=routes.queue_operator_path%>" class="massive ui primary button"><i class="big options icon"></i> Operator</a>
      </div>
      <div class="column">
        <a href="<%=routes.queue_ticket_path%>" class="massive ui primary button"><i class="big ticket icon"></i> Queue Ticket</a>
      </div>
    </div>
  </div>
</div>
