<style type="text/css">
  body > .grid.parent {
    height: 100%;
  }
  .time {
    font-size: 2em;
  }
  @media print {
    @page {
      margin: 0;}
    html, body { 
      margin: 0.5cm;
      height: 5cm;
      overflow: hidden;
    }
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<%= javascript 'time' %>
<%= javascript 'audio' %>
<%= javascript 'queue_ticket' %>

<div class="ui middle aligned grid container parent">
  <div class="row">
    <div class="ui middle aligned center aligned equal width doubling stackable grid container">
      <div class="column">
        <div class="ui huge statistic">
          <div class="label">
            Queue number
          </div>
          <div class="value">
            <p class="current-queue"><%= queue_number %></p>
          </div>
        </div>
      </div>
      <div class="column" id="section-to-print">
        <div class="ui left labeled button" tabindex="0">
          <div class="ui basic right pointing label">
            <div class="ui huge statistic">
              <div class="label">
                Ticket number
              </div>
              <div class="value">
                <p class="ticket-queue"><%= ticket_number %></p>
              </div>
            </div>  
          </div>
          <div class="massive ui primary button request-ticket">
            <i class="huge ticket button icon"></i>
            <p>Request ticket</p>
            <p>Push this button!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable top fixed menu">
  <div class="ui container">
    <div class="item">
      <h1>EZQ Corporation Public Limited</h1>
    </div>
    <div class="right menu">
      <div class="item">
        <p class="time">10:50:01</p>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable bottom fixed menu">
  <div class="ui container">
    <div class="item">
      <h1>Tape information</h1>
    </div>
  </div>
</div>