<style type="text/css">
  body {
  }
  p.company-name {
    font-size: 2em;
  }
  .current-queue {
    font-size: 20em;
  }
  .time {
    font-size: 2em;
  }
</style>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<%= javascript 'time' %>
<%= javascript 'audio' %>
<%= javascript 'queue_info' %>

<div class="ui center aligned vertical segment">
  <p class="company-name">EZQ Corporation Public Limited</p>
</div>
<div class="ui center aligned vertical orange segment">
  <p class="current-queue"><%= queue_number %></p>
</div>

<div class="ui stackable bottom fixed menu">
  <div class="ui container">
    <a href="<%=routes.work_path%>" class="item"><i class="big home icon"></i></a>
    <div class="item">
      <h3 class="ui header">Queue Info</h3>
    </div>
    <div class="item">
      <div class="ui toggle checkbox">
        <input type="checkbox" class="audio-toggle" />
        <label><i class="volume up icon"></i> Sound</label>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <p>Tape information</p>
      </div>
      <div class="item">
        <p class="time">10:50:01</p>
      </div>
    </div>
  </div>
</div>


