<style type="text/css">
  div.main-container {
    position: relative;
    height: 100%
  }
  div.bottom-menu {
    position: absolute;
    bottom: 0px;
  }
  .company-name {
    font-size: 2em;
  }
  .current-queue {
    font-size: 30em;
  }
  .time {
    font-size: 1.5em;
  }
</style>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<%= javascript 'time' %>
<%= javascript 'audio' %>
<%= javascript 'user_logout_listener' %>
<%= javascript 'queue_info' %>

<div class="ui container main-container">
  <div class="ui center aligned orange raised segment">
    <p class="company-name">EZQ Corporation Public Limited</p>
  </div>
  <div class="ui center aligned piled segment">
    <p class="current-queue"><%= queue_number %></p>
  </div>

  <div class="ui stackable icon menu bottom-menu container">
    <a href="<%=routes.work_path%>" class="item"><i class="big home icon"></i></a>
    <div class="item">
      <h3 class="ui header">Queue Info</h3>
    </div>
    <div class="item">
      <div class="ui toggle checkbox">
        <input type="checkbox" class="audio-toggle" />
        <label><i class="volume up icon"></i> Sound</label>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <p>Tape information</p>
      </div>
      <div class="item">
        <p class="time">CURRENT TIME</p>
      </div>
    </div>
  </div>

</div>




